<h1>Recipes:</h1>

<%= form_tag recipes_path, :method => 'get' do %>  <p>   
    <%= text_field_tag :search, params[:search] %>   
    <%= submit_tag "Search" %> </p>
<% end %>


<% @recipes.each do |recipe| %>
<h3><%= link_to recipe.title, recipe %></h3>
<% end %>


<br>
<%= link_to "Add a New Recipe", new_recipe_path %>
