<br>

<h1>Recipes:</h1>

<br>

    <p> looking for a particular recipe? </p>

    <%= form_tag recipes_path, :method => 'get' do %>   
        <%= text_field_tag :search, params[:search] %>   
        <%= submit_tag "Search" %> 
    <% end %>

<br>
<br>

    <% @recipes.each do |recipe| %>
    <h5><%= link_to recipe.title, recipe %></h5>
    <% end %>

<br>
<br>
<br>

<p><%= link_to "Add a New Recipe", new_recipe_path %></p>
