<h1>Create a New Recipe: </h1>

<%= form_for(@recipe) do |f|%>

<div>
    <%= f.label :title %>
    <%= f.text_field :title %>
</div>

<p>Select a ingredient that already exists: </p>
<div> 
    <%# <%= f.collection_select :ingredient_id, Ingredients.all, :id, :name %> 

</div>

<p> Or create a new ingredient: </p>
<div>

</div>

<div>
    <%= f.label :description %>
    <%= f.text_area :description %>
</div>

<div>
    <%= f.label :directions %>
    <%= f.text_area :directions %>
</div>

    <%= f.submit %>
<% end %>
