<nav> 
    <ul>
        <%= link_to "Home", root_path %><br>
        <% if !user_signed_in? %>
            <%= link_to "Signup", new_user_registration_path %><br>
            <%= link_to "Login", new_user_session_path %><br>
        <% else %>
            <%= current_user.email %><br>
            <%= link_to "My Recipes", recipes_path %><br>
            <%= link_to "Categories", categories_path %><br>
            <%= link_to "Logout", destroy_user_session_path, method:"delete" %><br>
        <% end %>
    </ul>
</nav>
